<div class="flex flex-row items-center w-full gap-4" data-controller="collection-selector">
  <%= form_with url: collection_magic_cards_update_path, local: true, class: "flex flex-col md:flex-row md:items-center w-full gap-4" do |f| %>
    <div class='flex flex-col w-auto md:w-full'>
      <div class='flex flex-row items-center justify-between'>
        <h3 class='mb-2 text-greyText'>Collection</h3>
        <p class='block text-xs text-greyText md:hidden'>Choose your collection</p>
      </div>
      <%= f.select :collection_id,
          options_from_collection_for_select(collections, :id, :name, collection_id),
          { include_blank: false },
          data: { action: 'change->collection-selector#fetchCollection' },
          class: 'w-full border rounded-md border-highlight bg-background text-greyText focus:border-accent-50 focus:ring-accent-50'
      %>
      <p class='hidden mt-2 text-xs text-greyText md:block'>Choose your collection</p>
    </div>
    <%= f.hidden_field :magic_card_id, value: magic_card.id %>
    <%= f.hidden_field :card_uuid, value: magic_card.card_uuid %>
    <div class='flex flex-col w-auto'>
      <div class='flex flex-row items-center justify-between'>
        <h3 class='mb-2 text-greyText'>Regular</h3>
        <p class='block text-xs text-greyText md:hidden'>Quantity</p>
      </div>
      <%= f.number_field :quantity, value: 0,
        data: { collection_selector_target: 'quantity' },
        disabled: !magic_card.has_non_foil,
        class: "w-auto md:w-24 border text-greyText rounded-md focus:border-accent-50 focus:ring-accent-50 #{magic_card.has_non_foil ? 'bg-background' : 'bg-highlight' } border-highlight"
      %>
      <p class='hidden mt-2 text-xs text-greyText md:block'>Quantity</p>
    </div>
    <div class='flex flex-col w-auto'>
      <div class='flex flex-row items-center justify-between'>
        <h3 class='mb-2 text-greyText'>Foil</h3>
        <p class='block text-xs text-greyText md:hidden'>Quantity</p>
      </div>
      <%= f.number_field :foil_quantity, value: 0,
        data: { collection_selector_target: 'foilQuantity' },
        disabled: !magic_card.has_foil,
        class: "w-auto md:w-24 border text-greyText rounded-md focus:border-accent-50 focus:ring-accent-50 #{magic_card.has_foil ? 'bg-background' : 'bg-highlight' } border-highlight"
      %>
      <p class='hidden mt-2 text-xs md:block text-greyText'>Quantity</p>
    </div>
    <%= f.submit 'Save',
      class: 'mt-2 min-w-28 py-2 px-4 bg-accent-50 text-background cursor-pointer rounded-md hover:bg-nineWhite transition duration-300' %>
  <% end %>
</div>
