<div class="flex items-start gap-8 px-24 py-8">
  <!-- Sidebar -->
  <div class="flex flex-col shrink-0 h-auto px-8 py-4 gap-8 border w-72 rounded-3xl border-highlight bg-foreground text-grey-text">
    <%= render partial: 'shared/cards/search', locals: { search_path: load_collection_path(collection_type: @collection_type) } %>
    <%= render partial: 'shared/cards/dropdown', locals: { options: @options.to_json, filter_path: load_collection_path(collection_type: @collection_type) } %>
    <div class='flex flex-col space-y-2'>
      <div>
        <%= @collection_type&.capitalize&.pluralize || 'Collections' %>
      </div>
      <% @collections.each do |collection| %>
        <% show_path = @collection_type == 'deck' ? deck_show_path(username: params[:username], collection_id: collection.id) : collection_show_path(username: params[:username], collection_id: collection.id) %>
        <%= render partial: 'binder',
                 locals: {
                   name: collection.name,
                   description: collection.description,
                   card: collection.magic_cards.count.zero? ? MagicCard.last : collection.magic_cards.last,
                   link: show_path,
                   active: collection.id == params[:collection_id].to_i
                 }
        %>
      <% end %>
      <% if current_user %>
        <%= render partial: 'binder',
                 locals: {
                   name: 'Create a Collection',
                   description: 'All this could be yours',
                   card: MagicCard.first,
                   link: new_collection_path,
                   active: false
                 }
        %>
      <% end %>
    </div>
  </div>
  <!-- Main Content -->
  <div class="flex flex-col grow gap-8">
    <!-- Top Bar -->
    <div class="shrink-0 px-6 py-4 border rounded-3xl bg-foreground border-highlight text-grey-text">
      <% if @collection.present? %>
        <div class='flex flex-row gap-4'>
          <%= render partial: 'stats',
                   locals: {
                     message: "Total cards in #{@collection.name} #{@collection_type}",
                     count: @collection.total_foil_quantity + @collection.total_quantity,
                     value: nil
                   }
          %>
          <%= render partial: 'stats',
                   locals: {
                     message: "Total value in #{@collection.name} #{@collection_type}",
                     count: nil,
                     value: @collection.total_value
                   }
          %>
          <%= render partial: 'stats',
                   locals: {
                     message: "Total value in all collections",
                     count: nil,
                     value: @collections_value
                   }
          %>
        </div>
      <% else %>
        <div class='flex flex-row gap-4'>
          <%= render partial: 'stats',
                   locals: {
                     message: "Total value in #{@collections.first.name} #{@collection_type}",
                     count: nil,
                     value: @collections.first.total_value
                   }
          %>
          <%= render partial: 'stats',
                   locals: {
                     message: "Total value in all collections",
                     count: nil,
                     value: @collections_value
                   }
          %>
        </div>
      <% end %>
    </div>
    <!-- Table Content -->
    <div class="grow">
      <%= turbo_frame_tag 'boxset_content' do %>
        <div id="table-container" class="min-w-full">
          <%= render partial: 'table' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
