<div class="flex gap-8 px-24 py-8">
  <!-- Sidebar -->
  <div class="flex-shrink-0 px-8 py-4 space-y-8 border w-72 h-96 rounded-3xl border-highlight bg-foreground text-greyText">
    <%= render partial: 'shared/cards/search', locals: { search_path: load_collection_path } %>
    <%= render partial: 'shared/cards/dropdown', locals: { options: @options.to_json, filter_path: load_collection_path } %>
  </div>
  <!-- Main Content -->
  <div class="flex flex-col flex-grow gap-8">
    <!-- Top Bar -->
    <div class="flex-shrink-0 px-6 py-4 border rounded-3xl bg-foreground border-highlight text-greyText">
      <% if @collection.present? %>
        <div class='flex flex-row gap-4'>
          <%= render partial: 'stats',
                   locals: {
                     message: "Total cards in #{@collection.name} binder",
                     count: @collection.collection_magic_cards.count,
                     value: nil
                   }
          %>
          <%= render partial: 'stats',
                   locals: {
                     message: "Total value in #{@collection.name} binder",
                     count: nil,
                     value: @collection.total_value
                   }
          %>
          <%= render partial: 'stats',
                   locals: {
                     message: "Total value in all collections",
                     count: nil,
                     value: @collections_value
                   }
          %>
        </div>
      <% end %>
    </div>
    <!-- Table Content -->
    <div class="flex-grow">
      <%= turbo_frame_tag 'boxset_content' do %>
        <div id="table-container" class="min-w-full">
          <%= render partial: 'table' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
