<div
  class="
    flex flex-col flex-auto h-auto px-2 space-y-8 md:px-6 2xl:px-24
    bg-dark-100
  "
  data-controller="bulk-edit"
  data-bulk-edit-save-path-value="<%= bulk_edit_save_path %>"
>
  <%= render partial: 'shared/page_header',
    locals: { header: 'Bulk Edit',
              subtext: 'Filter by boxset or search, then for each card pick a FROM and TO collection and how many to move. Use "Brand new" as the FROM for cards just opened from a pack. Save processes every row in one shot.' } %>

  <div
    class="
      flex flex-col md:flex-row md:flex-wrap px-8 py-4 gap-4 border
      rounded-3xl bg-foreground border-highlight
    "
  >
    <%= render partial: 'shared/cards/dropdown', locals: { options: @options.to_json, filter_path: bulk_edit_load_table_path, default_code: @default_code } %>
    <%= render partial: 'shared/cards/search', locals: { search_path: bulk_edit_load_table_path, show_price_filter: true } %>
  </div>

  <div id="bulk-edit-results" data-bulk-edit-target="results"></div>

  <%= turbo_frame_tag 'bulk_edit_content' do %>
    <div id="table-container" class="min-w-full">
      <% if @magic_cards.present? %>
        <%= render partial: 'table', locals: { magic_cards: @magic_cards, collections: @collections } %>
      <% else %>
        <div
          class="
            p-8 mt-6 text-center border rounded-3xl border-highlight
            bg-background
          "
        >
          <p class="text-lg text-grey-text">Select a boxset to view cards</p>

          <p class="mt-2 text-sm text-grey-text">
            Use the dropdown above to choose a set, then pick FROM/TO and
            quantities per row.
          </p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
