<%= turbo_frame_tag "card_details_#{card.id}" do %>
  <div class="p-4 bg-gray-50">
    <h3 class="mb-2 text-lg font-semibold"><%= card.name %></h3>
    <p class="mb-2"><strong>Type:</strong> <%= card.card_type %></p>
    <p class="mb-2"><strong>Mana Cost:</strong> <%= card.mana_cost %></p>
    <p class="mb-2"><strong>Rarity:</strong> <%= card.rarity %></p>
    <img src="<%= card.image_medium %>" loading="lazy">
  </div>
<% end %>