<% label = [foil ? 'Foil' : nil, proxy ? 'Proxy' : nil, proxy_foil ? 'Proxy Foil' : nil].compact.join(' ') %>

<div
  class="
    flex items-center gap-2 p-1.5 sm:p-2 bg-background/30 rounded text-xs
    sm:text-sm
  "
>
  <%= image_tag card.image_small,
    alt: card.name,
    class: "w-6 sm:w-8 h-auto rounded shadow-sm",
    loading: "lazy" %>

  <div class="grow min-w-0">
    <p class="truncate text-white text-xs sm:text-sm"><%= card.name %></p>

    <p class="text-[10px] sm:text-xs text-grey-text/70 truncate">
      <%= quantity %>x<%= label.present? ? " (#{label})" : '' %> →
      <%= collection.name %>
    </p>
  </div>

  <span class="text-xs text-accent-50 shrink-0">+<%= quantity %></span>
</div>
