<div class='flex items-start justify-center w-full min-h-screen pt-[160px]'>
  <div class='w-full max-w-md p-6 border border-foreground bg-foreground rounded-xl text-grey-text'>
    <h1 class='mb-2 text-xl font-bold text-center'>Forgot Password</h1>
    <h1 class='mb-6 text-sm text-center'>Enter your email to reset your password</h1>
    <%= form_with url: password_resets_path, class: 'space-y-4', data: { turbo: false } do |form| %>
      <% if flash[:alert] %>
        <div class="p-4 mb-4 text-sm text-red-400 bg-red-900/50 border border-red-700 rounded-lg">
          <%= flash[:alert] %>
        </div>
      <% end %>
      <div class='space-y-2'>
        <%= form.label :email, class: 'block text-sm font-medium' %>
        <%= form.email_field :email,
          placeholder: 'your_email@email.com',
          required: true,
          autofocus: true,
          class: input_styles %>
      </div>
      <div class='flex flex-col items-center w-full'>
        <%= form.submit 'Send Reset Instructions',
            class: 'w-full py-2 px-4 mt-2 bg-accent-50 text-background rounded-md cursor-pointer transition duration-300' %>
        <%= link_to 'Log in', login_path, class: 'mt-4' %>
      </div>
    <% end %>
  </div>
</div>
